[Desktop Entry]
Name=Karakept
Comment=Bookmark manager
Exec=Karakept
Icon=com.karakept.app
Terminal=false
Type=Application
Categories=Network;Utility;
StartupWMClass=Karakept
StartupNotify=true
